  
@import "~gg-design-system/scss/themes/theme-blue";
@import "~gg-design-system/scss/main";

html {
  height: 100%; 
}

body {
  background: #ffffff; 
  height: 100vh;
}

.gds-page-header {
  background: $grayLight2Color;
  box-shadow: none;
  border: none;
  height: 350px; 
  position: relative;
  width: 100%;
} 

.gds-layout-container{
  margin-left: auto; 
  margin-right: auto; 
  width: 40%; 
}

.logo {
  height: 80px; 
  margin-top: 100px; 
  width: 100%; 
}  

.gds-search__input-holder {
  margin-top: 0; 
}

.gds-search__form-group {
  box-shadow: none;  
}

.gds-flex{
  max-width: 1200px; 
  padding-left: 5rem; 
  padding-right: 5rem; 
  margin-left: auto; 
  margin-right: auto; 
}

.gds-flex-grid__row {
  padding-right: 30px; 
  margin-bottom: 50px; 
  justify-content: center;
}

.gds-layout__row {
  columns: 2 300px; 
}

.gds-text--header-xs {
  margin-bottom: 20px; 
  text-align: center;
}

.gds-persist-nav__link--expandable::before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: .33rem solid transparent; 
  border-bottom: .33rem solid transparent; 
  border-left: .5rem solid #00a7cf; 
  margin-left: -1rem; 
  top: .75rem;
}

.gds-sub-item-level-2 {
  padding-left: 2rem; 
}

.gds-tree__link {
  font-size: 1rem; 
}


footer {
  flex-shrink: 0; 
  background: $grayLight2Color;
  display: flex; 
  padding: 20px; 
  text-align: center;
 }