@import "~gg-design-system/scss/themes/theme-blue";
@import "~gg-design-system/scss/main";
 
html {
  height: 100%; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.gds-page-header {
  height: 350px; 
  position: relative;
  width: 100%;
} 

.gds-layout-container--home{
  margin-left: auto; 
  margin-right: auto; 
  width: 40%;  
  min-height: 100%; 
}

.logo {
  height: 80px; 
  width: 100%; 
}  

.logo-index {
  height: 40px;
}

.gds-persist-nav__link:before {
  display: none !important; 
} 

footer {
  margin-top: auto; 
}


